// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

button {
  &.center {
    display: block;
    margin: 1em auto;
  }
}

.stripped-center {
  height: 4px;
  display: block;
  width: 17%;
  margin: 1em auto;
  &.blue {
    background-color: rgba(48, 150, 246, 0.8);
  }
  &.small {
    width: 10%;
    height: 2.5px;
  }
}

.section {
  padding: 2em 0;
}

.text-justify {
  text-align: justify;
}

.bold {
  font-weight: bolder;
}