@import "variables";
@import "utility";
@import "header";
@import "footer";
@import "shop";

.img-block {
  display: block;
  margin: 1em auto;
  padding: 2em;
}

.header-table-small {
  display: table;
  width: 100%;
  max-height: 30vh;
  height: 30vh;
  overflow: hidden;
  .table-cell-small {
    display: table-cell;
    vertical-align: middle;
    img {
      display: block;
      width: 100%;
    }
  }
}