.category {
  button, input[type='submit'] {
    display: block;
    margin: 1em auto;
    background-color: #cb2c26;
    color: white;
  }
  button {
    &.slick-prev, &.slick-next {
      background-color: transparent;
      color: white;
      i.fa {
        font-size: 3em;
      }
    }
  }
  .category-list {
    .slick-slide {
      width: 100px;
    }
    .category-link {
      font-size: 150%;
      text-decoration: none;
      text-align: center;
      display: block;
      margin: 0 auto;
      color: white;
      &:hover {
        text-decoration: underline;

      }
    }
  }
  .input-group {
    display: block;
    select, button, input {
      display: inline-block;
    }
    select {
      background-color: #cb2c26;
      color: white;
      border: #cb2c26;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    input {
      margin-top: 1px;
      height: 40px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -0.3em;
      padding-left: 1em;
      width: 45%;
    }
  }

}

.product-list-home {
  .columns {
    &.three {
      width: 25%;
      margin: 0;
      .product-item {
        box-shadow: 0 12px 12px rgba(0,0,0,0.3);
        margin: 1em;
        border: 1px solid rgba(219,219,219,0.5);
        img {
          display: block;
          //max-height: 200px;
          //max-width: 200px;
          width: 100%;
          margin: 0 auto;
        }
        h3 {
          text-transform: capitalize;
          text-align: center;
          font-size: 120%;
          margin: 1em 2em;
        }
        .price-section {
          .row {
            padding: 0;
            border-top: 1px solid #1eaedb;
            h3 {
              text-align: center;
              font-weight: bold;
              font-size: 100%;
              margin: 1em;
            }
            button {
              border-radius: 0!important;

            }
          }
        }
      }

    }
  }
}