.testimoni-content {
  font-style: italic;
  font-weight: bold;
  font-size: 110%;
  &::before,&::after {
    content: '"';
  }


}

.image-circle {
  img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
}