/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/tables";
@import "modules/spacing";
@import "modules/media-queries";
@import "modules/quote";
@import "modules/slider-text";


@import "font-awesome";
@import "slick";

@import "header";
@import "footer";
@import "shop";
@import "nav";
@import "section";
@import "programs";
@import "gallery";
@import "lightbox";
@import "testimoni";
@import "about";
@import "auth";
@import "dashboard";
@import "nprogress";

.title {
  color: rgba(246, 246, 246, 1);
}


.swimmer-offset {
  margin-left: -34em;
}

.brand-logo {
  height: 70px;
  display: block;
  margin: 2em auto;
  @media screen and (min-width: 481px) and (max-width: 768px){
    height: 50px;
    margin: 1em auto;
  }
}

p.quote {
  &:before, &:after {
    content: '"';
  }
  font-size: 130%;
  font-weight: bolder;
}

@media screen and (max-width: 480px){
  .controls {
    display: block;
    margin: 0 auto;
  }
  .title-quote {
    font-size: 140% !important;
  }
  p.author {
    font-size: 130%;
  }
   h1 {
     font-size: 180%;
     &.text-center {
       font-size: 180%;
     }
   }
  h2 {
    &.text-center {
      font-size: 150%;
    }
  }

  .subscribe-form {
    input {
      width: 100%!important;
      text-align: center;
    }
  }
}